#box {
    width: 100px;
    height: 100px;
    background: coral;
    position: relative;
    margin-top: 20px;
    }

#move {
    width: 100px;
    height: 100px;
    background: rgb(80, 255, 109);
    position: relative;
    margin-top: 20px;
    }