body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(224, 224, 224);
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

#displaytext {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    color: black;
    border-radius: 30px;
    border: 2px solid black;
}